/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth; /*Not supported in Safari & Internet Explorer*/
}

body {
    max-width: 1400px;
    height: 2000px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 6em;
}
/* /General Section */

/* Navigation Top Section */
.navi-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 1400px;
    background-color: white;
}

.navi.left {
    float: left;
    /* border: 1px solid red; */
    /* width: 500px; */
    /* height: 50px; */
}

.navi.right {
    float: right;
    /* border: 1px solid blue; */
    /* width: 500px; */
    /* height: 50px; */
}

.navi {
    padding: 2em;
}

.logo {
    vertical-align: sub;
}

.menu-left {
    margin-left: 1em;
    display: inline-block;
    list-style-type: none;
    
}

.menu-left li {
    display: inline-block;
    padding: 0 1.2em;
    /* line-height: 100%; */
}

.menu-text,
.menu-text:hover,
.menu-text:active,
.menu-text:focus {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu-text:hover {
    padding-bottom: 2.2em;
    border-bottom: 2px solid black;
}

.button {
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
}

.btn-txt,
.btn-txt:hover,
.btn-txt:active,
.btn-txt:focus {
    font-size: 0.9em;
    padding: 0.4em 1em;
    background-color: rgba(0, 97, 255, 1);
    text-decoration: none;
    color: white;
}

.btn-txt:hover {
    background-color: rgba(0, 97, 255, 0.7);
}
/* /Navigation Top Section */

/* Header Section */
#header {
    margin-top: 90px;
}

.jumbo {
    background-color: #B4D0E7;
    width: 100%;
    height: 660px;
}

.title {
    font-size: 4.13em;
}

.jumbo-c {
    float: left;
    padding-top: 2.2em;
}

.jumbo-c.left {
    width: 35%;
}

.jumbo-txt {
    padding-bottom: 1.8em;
}

.jumbo-c.right {
    width: 65%;
}

.jumbo-c img {
    width: 100%;
}

.button.jumbo-b {
    margin-left: 0;
}

.jumbo-disclaimer {
    font-size: smaller;
    font-weight: 500;
    margin-top: 1em;
}

.go-to-sct1,
.go-to-sct1:hover,
.go-to-sct1:active,
.go-to-sct1:focus {
    text-decoration: none;
}

.fas.fa-arrow-down {
    color: black;
    margin-top: 1em;
    font-size: 2.3em; 
}
/* /Header Section */

/* Main Section */
.container-main {
    border: 1px solid chartreuse;
    width: 65%;
    /* height: 4500px; */
    margin: 0 auto;
    margin-bottom: 2.5em;
}

/* Title & Radio Input Section */
.payment-title {
margin-top: 5em;
font-size: 2.4em;
}

.container-radio label {
    position: relative;
}
  
.container-radio span::before,
.container-radio span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#radio-1,
#radio-2 {
    opacity: 0;
}
  
.container-radio span.radio:hover {
    cursor: pointer;
}

.container-radio span.radio::before {
    left: -22px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #DBDBDD;
    border-radius: 50px;
}

.container-radio span.radio::after {
    left: -19px;
    top: 0px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transition: left 0.25s, background-color 0.25s;
}

input[type="radio"]:checked + label span.radio::after {
    left: -18px;
    background-color: #0061FF;
}

input[type="radio"]:checked + label span.radio::before {
    border: 1px solid #0061FF;
}

.float {
    float: left;
    margin-left: 0.3em;
    margin-top: 0.3em;
}

.float.r-1 {
    margin-right: 1em;
}
/* /Title & Radio Input Section */

/* Purchase Plans Section */
.plan.left {
    /* border: 1px solid slateblue; */
    float: left;
    width: calc(100% / 3 - 4em / 3);
    /* height: 40em; */
    margin-top: 1.3em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.plan.left.c-1,
.plan.left.c-2,
.plan.left.c-3 {
    border: 1px solid #E6E6E7;
    padding-bottom: 6em;
}

.plan.left.c-1 {
    padding-bottom: 8.84em;
}

.plan.left.c-3{
    margin-right: 0;
}

h6 {
    margin-top: 1em;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E6E6E7;
}

.far.fa-user::before,
.far.fa-building::before,
.fab.fa-dropbox::before,
.far.fa-folder::before,
.fas.fa-pencil-alt::before,
.fas.fa-user-plus::before,
.far.fa-smile::before {
    margin-right: 0.3em;
    color: #4A4A4A;
}

.col-txt {
    /* border: 1px solid rgba(0, 0, 255, 0.3); */
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
}

.price {
    margin-top: 0.8em;
}

.frequency {
    color: #7A8793;
    margin-top: 0.4em;
}

.no-style-type {
    list-style-type: none;
}

.size-sml {
    font-size: smaller;
}

.no-style-type.size-sml {
    margin: 2em 0;
}

.btn-free-trial,
.btn-free-trial:hover,
.btn-free-trial:active,
.btn-free-trial:focus {
    background-color: rgba(0, 97, 255, 1);
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 80%;
    width: 100%;
    padding: 0.8em 4em;
    text-decoration: none;
}

.btn-free-trial:hover {
    background-color: rgba(0, 97, 255, 0.7);
}

.col-info {
    margin: 0.7em 0;
}

.ico-txt-left {
    float: left;
}

.ico-left {
    width: 8%;
    color: #0F6AFF;
    font-weight:900;
}

.txt-right {
    width: 90%;
}

.or-buy-now {
    margin-top: 2em;
}

.or-word {
    padding-bottom: 2em;
    border-bottom: 1px solid #DBDBDD;
}

.buy-now,
.buy-now:hover,
.buy-now:active,
.buy-now:focus{
    text-decoration:underline rgba(185, 212, 255, 0.8);
    color: #166FFF;
}

.des-title {
    margin-top: 4em;
    font-weight: 800;
}

.plan.bottom {
    float: left;
    border: 1px solid #E6E6E7;
    width: 100%;
    /* height: 10em; */
    margin-top: 1.3em;
}

.align {
    width: 95%;
    margin: 1.5em auto;
}

.edu {
    float: left;
}

.edu.text {
    width: 70%;
}

.edu.btn {
    width: 30%;
}

.info-edu {
    margin-top: 1.8em;
}

/* /Purchase Plans Section */

.ask-help {
    float: left;
    width: 50%;
    margin-top: 8em;
}

#ask-for-help {
    width: 100%;
    /* border: 1px solid red; */
}

.img-ask-help {
    width: 100%;
}

.ask-help.sx {
    height: 100%;
}

.ask-help.dx {
    padding: 2em 0 5.2em 2em;
}

.find-partner-info {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    line-height: 1.8em;
}

.btn-find-partner,
.btn-find-partner:hover,
.btn-find-partner:active,
.btn-find-partner:focus {
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 100%;
    font-weight: 500;
    padding: 0.8em 1em;
    text-decoration: none;
}

.btn-find-partner:hover {
    background-color: rgba(240, 242, 245, 0.8);
}

.title-ask-help {
    font-size: 150%;
    font-weight: 700;
}

.more-operation {
    margin-top: 2em;
    font-size: 2.4em;
}

.top-img-card {
    width: 100%;
}

.plan.left.card{
    margin-right: 0;
}

.bottom-txt-p {
    font-size: 0.9em;
    padding-top: 1.4em;
    font-weight: 500;
}

.card-bottom {
    padding-top: 1.5em;
}

#more-op-dropbox {
    margin-bottom: 6em;
}

.title-team {
    margin-top: 2em;
    font-size: 2.4em;
    width: 68%;
}

.p-team {
    margin-top: 1.5em;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 1em;
}

.link-team,
.link-team:hover,
.link-team:active,
.link-team:focus {
    color: #0061ff;
}

.outer-square {
    float: left;
}

.out-sq-1,
.out-sq-3 {
    width: 27.143%;
}

.out-sq-2 {
    width: 45.7153%;
    height: 26.8vw;
    background-color: #F5F5F5;
}

.inner-square {
    float: left;
    width: 50%;
    height: 13.4vw;
    position: relative;
}

.inner-square:hover {border: 6px solid rgba(255,255,255,0.5);}

.inner-square img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    /* Left Square*/
.inner-square.left.top-left {background-color: #A2D39B;}

.inner-square.left.top-right {background-color: #61082B;}

.inner-square.left.bot-left {background-color: #0093CE;}

.inner-square.left.bot-right {background-color: #FF1C1C;}

    /* Center Square*/
.container-square {
    width: 80%;
    height: 26.8vw;
    margin: 0 auto;
    overflow: auto;
}

.designit-svg {
    width: 25%;
    margin-bottom: 2em;
}

.square-quote {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 2.5em;
}

    /* Right Square*/
.inner-square.right.top-left {background-color: #D5001F;}

.inner-square.right.top-right {background-color: #B4D0E7;}

.inner-square.right.bot-left {background-color: #0D2481;}

.inner-square.right.bot-right {background-color: #FFD830;}

/* Jumbo Main Section */
.jumbo.main {
    height: 330px;
}

.jumbo-m.left{
    float: left;
    width: 52%;
}

.title-j {
    padding-top: 3em;
    font-size: 2.4em;
    color: #61082B;
}

.jumbo-m.right{
    float: left;
    width: 48%;
}

.a-btn-j-main,
.a-btn-j-main:hover,
.a-btn-j-main:active,
.a-btn-j-main:focus {
    /* border: 1px solid black; */
    color: black;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 100%;
    width: 70%;
    margin: 8em 8em;
    font-weight: 500;
    padding: 0.5em 1em;
    text-decoration: none;
}

.a-btn-j-main:hover {
    background-color: #f2f6f8;
}

/* Faq Section */
#faqs {
    margin-top: 8em;
    padding-bottom: 8em;
}


.title-faq {
    font-size: 2.1em;
    color: #000000;
    padding-bottom: 3em;
}

.question-float {
    float: left;
    padding: 1.7em 0;
    font-weight: 700;
    border-top: 1px solid #DEDEDF;
    border-bottom: 1px solid #DEDEDF;
}

.answer {
    display: none;
}

.question-float.qst {
    width: 95%;
}

.question-float.dda {
    width: 5%;
}

.answ:hover .answer {
    padding-top: 2em;
    display: inline-block;
    font-weight: 400;
}

.answ:hover .qst {
    border-bottom: 0;
}

.answ:hover .dda {
    transform: rotate(180deg);
    padding-left: 2em;
    border-top: 0;
}
/* /Main Section */